.pre-footer-block-second-content {
  display: flex;
  justify-content: center;
  background: #0A0A0A;
  height: 1188px;
  margin-top: 96px;
}
.pre-footer-block-second-content__card {
  width: 840px;
  height: 852px;
  border-radius: 24px;
  background: #FBF19B;
  margin-top: 240px;
  position: relative;
}
.pre-footer-block-second-content__card__text p {
  width: 341px;
  color: #0A0A0A;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  margin-top: 91px;
  margin-left: 96px;
  margin-bottom: 40px;
}
.pre-footer-block-second-content__card__text small {
  color: #0A0A0A;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  width: 840px;
  height: 852px;
  margin-left: 96px;
}
.pre-footer-block-second-content__card__line {
  background: #0A0A0A;
  width: 480px;
  height: 2px;
  flex-shrink: 0;
  margin-top: 80px;
  margin-left: 96px;
}
.pre-footer-block-second-content__card__check {
  margin-top: 50px;
  margin-left: 96px;
  font-size: 14px;
  font-family: Inter;
  display: flex;
  align-items: center;
}
.pre-footer-block-second-content__card__box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #0A0A0A;
  margin-right: 10px;
}
.pre-footer-block-second-content__card__oval {
  width: 178px;
  height: 46px;
  border-radius: 40px;
  background: #0A0A0A;
  margin-left: 96px;
  margin-top: 50px;
}
.pre-footer-block-second-content__image {
  display: flex;
  justify-content: end;
  width: 1000px;
  position: absolute;
}
.pre-footer-block-second-content__image img {
  width: 350px;
  height: 460px;
}
.pre-footer-block-second-content__bottom {
  height: 185px;
  background: #DBFAA8;
}

.pre-footer-block-second-content__bottom {
  height: 185px;
  background: #DBFAA8;
}
.pre-footer-block-second-content__bottom__icon {
  height: 110px;
  display: grid;
  grid-template-columns: 1fr 840px 1fr;
}
.pre-footer-block-second-content__bottom__svg svg {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 100px;
}
.pre-footer-block-second-content__bottom img {
  margin-top: 65px;
  margin-left: 110px;
}
.pre-footer-block-second-content__bottom__svg {
  text-align: end;
  margin-right: 24px;
}
.pre-footer-block-second-content__bottom__last {
  height: 67px;
}
.pre-footer-block-second-content__bottom__last__hr {
  height: 1px;
  background: #0A0A0A;
  margin: 25px 24px 0 24px;
}
.pre-footer-block-second-content__bottom__last__text {
  display: flex;
  justify-content: space-between;
  margin: 10px 24px 0 24px;
}
.pre-footer-block-second-content__bottom__last__text span {
  color: #0A0A0A;
  margin-left: 12px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.general-block__crypto__head {
  background: linear-gradient(90deg, rgb(27, 22, 52) 7%, rgba(24, 34, 43, 0.8156512605) 30%, rgb(47, 50, 57) 59%, rgb(31, 31, 69) 94%);
  width: 1440px;
}
.general-block__crypto__head__header {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 80px;
  color: #FFFFFF;
}
.general-block__crypto__head__header span {
  font-size: 18px;
  line-height: 23.4px;
}
.general-block__crypto__head__header button {
  margin-left: 40px;
  width: 130px;
  height: 32px;
  color: #FFFFFF;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(48, 209, 58) 7%, rgba(15, 176, 131, 0.8156512605) 33%, rgb(87, 214, 129) 66%, rgb(79, 209, 192) 95%);
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 1.75rem;
}
.general-block__crypto__head__header__btn {
  gap: 40px;
}

.general-block__crypto__head__main {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 80px;
}
.general-block__crypto__head__main__title {
  display: flex;
  flex-direction: column;
}
.general-block__crypto__head__main__title span {
  font-size: 64px;
  line-height: 38.73px;
  color: #E7E7E7;
  margin-top: 120px;
  margin-bottom: 40px;
}
.general-block__crypto__head__main__title small {
  font-size: 14px;
  line-height: 16.94px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.general-block__crypto__head__main__title button {
  width: 130px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(48, 209, 58) 7%, rgba(15, 176, 131, 0.8156512605) 33%, rgb(87, 214, 129) 66%, rgb(79, 209, 192) 95%);
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 1.75rem;
}/*# sourceMappingURL=style_preproc.css.map */